{% load i18n %}
{% load common_tags %}

{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}

<!DOCTYPE HTML>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TODO: does it need this head_title here? -->
    <title>{% block head_title %}{% trans 'SAPL - Sistema de Apoio ao Processo Legislativo' %}{% endblock %}</title>
    
      {% block webpack_loader_css %}
        {% render_chunk_vendors 'css' %}
        {% render_bundle  'global' 'css' %}
        {% render_bundle  'painel' 'css' %}
      {% endblock webpack_loader_css %}


    <style type="text/css">
        html, body {
            max-width: 100%;
            overflow-x: hidden;
        }
      @media screen {
        ul, li {
          list-style-type: none;
        }
      }
    </style>

  </head>
  <body class="painel-principal">
      <audio type="hidden" id="audio" src="{% webpack_static 'audio/ring.mp3' %}"></audio>

      <div class="d-flex justify-content-center">
        <h1 id="sessao_plenaria" class="title text-title"></h1>
      </div>
      <div class="row ">
        <div class="col text-center">
          <span id="sessao_plenaria_data" class="text-value"></span>
        </div> 
        <div class="col text-center">
          <span id="sessao_plenaria_hora_inicio" class="text-value"></span>
        </div>
      </div>    

      <div class="row justify-content-center">
        <div class="col-1">
          <img src="" id="logo-painel" class="logo-painel" alt=""/>
        </div>
      </div>

      <div class="row justify-content-center">
        <h2 class="text-danger"><span id="message"></span></h2>
      </div>

      <div class="row">
        <div class="col text-center"><span class="text-value data-hora" id="date"></span></div>
        <div class="col text-center"><span class="text-value data-hora" id="relogio"></span></div>
      </div>


      <div class="">
        <div class="d-flex justify-content-start">
          <div class="col-md-4">
            <div class="text-center painel">   
              <h2 class="text-subtitle">Parlamentares</h2>   
              <span id="parlamentares" class="text-value text-center"></span>
            </div>
          </div>
          <div class="d-flex col-md-8 painels">
            <div class="col-md-6 text-center painel" id="aparecer_oradores">  
              <h2 class="text-subtitle">Oradores</h2>  
              <span id="orador"></span>     
            </div>

            <div class="col-md-6 text-center painel">  
              <h2 class="text-subtitle">Cronômetros</h2>
                <div class="text-value">
                Discurso: <span id="cronometro_discurso"></span><br>
                Aparte: <span id="cronometro_aparte"></span><br>
                Questão de Ordem: <span id="cronometro_ordem"></span><br>
                Considerações Finais: <span id="cronometro_consideracoes"></span>
              </div>
            </div>

            <div class="col-md-6 text-center painel">      
              <h2 class="text-subtitle">Resultado</h2>   
                <span id="votacao" class="text-value"></span> 
                <h2><span id="resultado_votacao" lass="text-title"></span>
            </div>

            <div class="col-md-6 text-center painel">      
              <h2 class="text-subtitle">Matéria em Votação</h2>   
                <span id="materia_legislativa_texto" class="text-value"></span>
                <span id="observacao_materia" class="text-value"></span>
            </div>
          </div>
        </div>
      </div>

      </div>

    <textarea id="chat-log" cols="10" rows="5"></textarea><br/>
    <input id="chat-message-submit" type="button" value="Pull"/>
  </body>

  {% block webpack_loader_js %}
    {% render_chunk_vendors 'js' %}
    {% render_bundle  'global' 'js' %}  
    {% render_bundle  'painel' 'js' %}      
  {% endblock webpack_loader_js %}

  {% block webpack_loader_chunks_js %}
  {% endblock webpack_loader_chunks_js %}

  <script type="text/javascript">
    var d = new Date();
    var n = d.toLocaleDateString();
    document.getElementById("date").innerHTML = n;

    $(document).ready(function() {
      //TODO: replace by a fancy jQuery clock
      function checkTime(i) {
        if (i<10) {i = "0" + i};  // add zero in front of numbers < 10
          return i;
      }
      function startTime() {
        var today=new Date();
        var h=today.getHours();
        var m=today.getMinutes();
        var s=today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        $("#relogio").text(h+":"+m+":"+s)
        var t = setTimeout(function(){
            startTime()
        }, 500);
      }
      startTime();

      var audioAlertFinish = document.getElementById("audio");

      $('#cronometro_discurso').runner({
        autostart: false,
        countdown: true,
        startAt: {{ 'discurso'|cronometro_to_seconds }} * 1000,
        stopAt: 0,
        milliseconds: false
      }).on('runnerFinish', function(eventObject, info){
        audioAlertFinish.play();
      });

      $('#cronometro_aparte').runner({
        autostart: false,
        countdown: true,
        startAt:  {{ 'aparte'|cronometro_to_seconds }} * 1000,
        stopAt: 0,
        milliseconds: false
      }).on('runnerFinish', function(eventObject, info){
          audioAlertFinish.play();
      });

      $('#cronometro_ordem').runner({
        autostart: false,
        countdown: true,
        startAt:  {{ 'ordem'|cronometro_to_seconds }} * 1000,
        stopAt: 0,
        milliseconds: false
      }).on('runnerFinish', function(eventObject, info){
        audioAlertFinish.play();
      });

      $('#cronometro_consideracoes').runner({
        autostart: false,
        countdown: true,
        startAt:  {{ 'consideracoes'|cronometro_to_seconds }} * 1000,
        stopAt: 0,
        milliseconds: false
      }).on('runnerFinish', function(eventObject, info){
        audioAlertFinish.play();
      });

      var discurso_previous;
      var ordem_previous;
      var aparte_previous;
      var consideracoes_previous;

      var counter = 1;
    });
    
    var sessao_pk = {{ sessao_id }};
    var ws_scheme = window.location.protocol === "https:" ? "wss" : "ws";
    var painel_socket = new WebSocket(
        ws_scheme+ '://' + window.location.host +
        '/ws/painel-principal/' + sessao_pk);
    console.log(ws_scheme+ '://' + window.location.host +
        '/ws/painel-principal/' + sessao_pk)

    painel_socket.onopen = function(e){
      console.log("Conectado!");
    }
    painel_socket.onerror = function(e){
      console.log(e); 
    }

    document.querySelector('#chat-message-submit').onclick = function(e) {
        console.log("apertou");
        painel_socket.send(JSON.stringify({
            'message': 'OK'
        }));
    };

    // Função para lidar com mensagens do servidor.
    // Quando chegar o signal de atualização de alguma tabela
    // a qual o Painel é sensível.
    painel_socket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        console.log(data);
        document.querySelector('#chat-log').value += (e.data + '\n');
        //atualizar_painel(data);
    };

    painel_socket.onclose = function(e) {
        console.error('Chat fechado inesperadamente');
    };


    function atualizar_painel(data) {
    }

    function show_voto(voto) {
      if (voto == "Sim"){
          return '<font color="green"> Sim </font>'
      }
      else if (voto == "Não"){
          return '<font color="red"> Não </font>'
      }
      return voto
    }
  
  </script>
</html>

